body {
    text-align: center;
    background-color: aqua;
}

h1 {
    color: rgb(179, 255, 0);
    background-color: blueviolet;
}
h2 {
    color: aqua;
    background-color: rgb(214, 226, 43);
}
h3 {
    color: rgb(43, 255, 0);
    background-color: rgb(55, 43, 226);
}
h4 {
    color: rgb(255, 0, 234);
    background-color: rgb(226, 43, 113);
}
h5 {
    color: rgb(153, 0, 255);
    background-color: rgb(116, 226, 43);
}
h6 {
    color: aqua;
    background-color: rgb(16, 146, 44);
}
h1, h2, h3, h4, h5, h6 {font-size: 20px;}